

.done-list {
    margin: 40px 0 0 0 ;
    display: flex;
    font-family: 'Roboto', sans-serif;
  }
  
  .done-list .Done {
    font-size: 120%;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    background-color: azure;
    justify-content: flex-start;
  }
  
  .done-list .option-done {
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    padding: 4px 5px 4px 5px;
    margin: 1px 0 0 20px;
    border-radius: 10px;
    outline: none;
    font-size: 104%;
    justify-content: flex-start;
  }
  
  .clear-done-list{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0 0;
  }
  
  .clear-done-list .clear-done {
    display: flex;
    border-width: 0 0 0 0;
    text-decoration: underline;
    background: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: rgb(136, 136, 136);
    transition: all 300ms ease;
  }
  
  .clear-done:hover {
    color: #ff0000;
  }